@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Monoton', cursive;
  letter-spacing: 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

